@CHARSET "ISO-8859-1" ;

@IMPORT url("Master.css");

@IMPORT url("selinas-SiteTyp9.css");

#pageHeader {
	border-bottom: 1px dotted #B2BCC6;
	background-color: #FFFFFF;
	border-top: 1px solid #778899;
	height: 3em;
}

#pageHeader .strapline {
	color: #778899;
	background: transparent;
	float: right; /* Elemente umfließen lassen */
	margin-right: 2em; /* transparenten Abstand von rechts */
	margin-top: 0.5em /* transparenten Abstand von oben */;
	font-family: Georgia, "Times New Roman";
	font-size: 110%;
}
#pageHeader .logo {
	float: left; /* Elemente umfließen lassen */
	margin-left: 1.5em; /* transparenten Abstand von links*/
	margin-top: 0.5em; /* transparenten Abstand von oben */
	border: 1px dotted #B2BCC6; /*Rahmen wie Link's */
	background-color: #006666 /*Hintergrund Farbe Selinas Grün*/
}
#pageContentLeft{
	clear: left;
}
#pageContent{
	background: #EEE;
	border-top: 1px solid #B2BCC6;
	border-right: 1px solid #B2BCC6;
	border-left: 1px solid #B2BCC6;
}
#pageContentRight{
	border-top: 1px solid #B2BCC6;
	background-color: #EEE;
	font: 1em/ 1.5em Verdana, Arial, Tahoma, sans-serif;
}
.linkTable {
	caption-side: bottom;
	text-align: left;
	background: #eee;
	padding: 3px;
	width: 100%;
}
.linkTable th {
	font-weight: bold;
	width: 100%;
	text-align: center;
}
.linkTable td {
	border-top: 1px solid #B2BCC6;
	font: 1em/ 1.5em Verdana, Arial, Tahoma, sans-serif;	
	padding: 3px;
	width: 0em;
}
#pageContentRight iframe{
	border-bottom: 1px solid #B2BCC6;
	height: 30em;
}
#pageContentLeft iframe{
	border-bottom: 1px solid #B2BCC6;
	height: 30em;
}
#wrapperContent table {
	caption-side: bottom;
	text-align: left;
	background: #eee;
	padding: 3px;
	width: 100%;
}
#wrapperContent td {
	font: 1em/ 1.5em Verdana, Arial, Tahoma, sans-serif;
	border-top: 1px solid #B2BCC6;
	padding: 3px;
}
#wrapperContent button {
	font: 0.8em Arial, Tahoma, Verdana, sans-serif;
	height: 2.0em;
	text-align: center;
	text-transform: uppercase;
}
#contentRight{
	border-left: 1px solid #B2BCC6;
}
#contentRight textarea{
	font: 1em/ 1.5em Verdana, Arial, Tahoma, sans-serif;
	width: 100%;
}
#footer {
	background-color: #FFFFFF;
}
#pageFooter {
	border-top: 1px dotted #AAAAAA;
	background-color: #CCCCCC;
	color: #626262;
	height: 3em;
	width: 100%;
}
a:link, a:visited {
	text-decoration: none;
	color: #2A4F6F;
	background-color: transparent;
	border-bottom: 1px dotted #B2BCC6
}
a:hover {
	color: #778899;
}