@CHARSET"ISO-8859-1";

@IMPORT url("Master.css");
@IMPORT url("selinas-SiteTyp10.css");


#navigation {
	background-color:#BBBBBB;
	margin-left: 2em;
	margin-top:	2em;
	width:	10em;
}
#navigation ul {
	background-color:#D6D8BA;
	border:	1px solid #000000;
	bottom:	1em;
	position:	relative;
	right:	1em;
	padding: 5px;
	list-style: none;
}
.fontNormal {
	color: #000;
	font: normal 12px Verdana, Arial, Helvetica, sans-serif !important;
}
.fontBlack {
	/*color: #000 !important;*/
	font-weight: normal;
	font-size: 12px;
	font-family: Verdana;
	padding-left: 5px;
}
.fontBlackBold {
	font-family: Verdana;
	font-weight: bold;
	font-size: 12px;
	/*color: #000;*/
}
.fontMediumBold {
	/* Beschriftung: Titel dokument */
	font: bold 14px Verdana, Arial, Helvetica, sans-serif;
	color: #2D5893;
}
.subheading {
	border-bottom: 1px solid;
	padding-left: 3px;
	border-color: #7F9DB9;
	padding-top: 5px;
}
.requestText{
	color:#000;
	font:normal 12px Verdana, Arial, Helvetica, sans-serif !important;
	padding-left: 3px;
	padding-top: 2px;
	width:99.5%;
	border-width: 0px;
	border-color: Window;
	overflow: auto; 
	overflow: hidden;
}
.requestBox {
	border-color: #7992B8;
	border-top-width: 0px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-style: solid;
	padding-top: 0px;
	padding-bottom: 2px;
	padding-left: 0px;
	text-align: left;
}
.requestBox #topbg {
	background-color: #C1C496;
	border-color: #7992B8;
	border-top-width: 1px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-style: solid;
	font: 1.5em Verdana, Arial, Tahoma, sans-serif;
	color: #2D5893;
	padding: 3px;
}
.requestBox #bottombg {
	background-color: #DEDEDE;
	border-color: #7992B8;
	border-top-width: 1px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-style: solid;
}
img.requests {
	background: url(../bilder/dalie-icons-pack.gif) -382px -48px no-repeat;
	height: 22px;
	width: 21px;
}
#pageHeader {
	background-image: url("../bilder/header.jpg");
	border-bottom: 1px dotted #B2BCC6;
	background-color: #FFFFFF;
	height: 8em;
}
#pageHeader .strapline {
	color: #778899;
	background: transparent;
	float: right; /* Elemente umfließen lassen */
	margin-right: 2em; /* transparenten Abstand von rechts */
	margin-top: 0.5em /* transparenten Abstand von oben */;
	font-family: Arial Unicode MS, Georgia, "Times New Roman";
	letter-spacing: 0.9px;
	line-height: 0.8em;
	font-size: large;
	font-variant: small-caps;
}
#pageHeader .logo {
	float: left; /* Elemente umfließen lassen */
	margin-left: 1.5em; /* transparenten Abstand von links*/
	margin-top: 0.5em; /* transparenten Abstand von oben */
	border: 1px #B2BCC6; /*Rahmen wie Link's */
	background-color: #234F4E /*Hintergrund Farbe Selinas Grün*/
}
#pageWrapper{
	background-color: #FFFFFF;
	width: 99%;
	margin-right: 0.5%;
	margin-left: 0.5%;
	border-color: #7992B8;
	border-style: solid;
	border-top-width: 0px;
	border-right-width: 1px;
	border-left-width: 1px;
	border-bottom-width: 0px
}
#pageWrapper a:link.link, a:visited.link {
	/* LogOff Link */
	color: #2A4F6F;
	background-color: transparent;
	border-bottom: 1px dotted #B2BCC6;
	text-decoration: none;
}
#pageWrapper a:hover.link {
	/* LogOff Link */
	color: #778899;
}
#wrapper{
	background-color: #FFFFFF;
	width: 99.5%;
}
#dokumentHeader{
	background-color: #FFFFFF;
	text-align: left;
	margin-top: 0px;
	padding-left: 10px;
}
#contentRight{
	background-color: #FFFFFF;
}
#contentRight table {
	border-color: #B2BCC6;
	border-bottom-width: 1px;
	border-right-width: 1px;
	border-left-width: 1px;
	border-top-width: 1px;
	border-style: solid;
	text-align: left;
	width: 100%;
}
#contentRight th {
	background-color: #C1C496;
	border-bottom-color: #7992B8;
	border-bottom-style: solid;
	border-top-color: #7992B8;
	border-top-style: solid;
	border-width: 1px;
	font: normal 12px Verdana, Arial, Tahoma, sans-serif;
	color: #2D5893;
	padding: 3px;
	text-align: left;
}
#contentRight th a:link, a:visited {
	/* OrderBy Link's */
	background-color: transparent;
	color: #2D5893;
	border-bottom: 1px dotted #2D5893;
	text-decoration: none;
}
#contentRight th a:hover {
	color: #778899;
}
#contentRights table {
	border-color: #B2BCC6;
	border-bottom-width: 1px;
	border-right-width: 1px;
	border-left-width: 1px;
	border-top-width: 0px;
	border-style: solid;
	text-align: left;
	width: 100%;
}
#contentRights td {
	/* cell of Tabel with Links */
	border-bottom: 1px solid #B2BCC6;
	font: normal 12px Verdana, Arial, Helvetica, sans-serif !important;
	padding: 3px 5px;/*  */
	text-align: left;
}
#contentRights td a:link, a:visited {
	/* Link's of Table */
	background-color: transparent;
	color: black;
	text-decoration: none;
}
#contentRights td a:hover {
	/* Link's of Table */
	color: #778899;
}
.uploadDokumente {
	background-color: #DEDEDE;
	margin-top: 0px;
}
.file{
	font: 0.8em Arial, Tahoma, Verdana, sans-serif;
}
#footer{
	background-color: #FFFFFF;
	margin-left: 3px;
	margin-right: 3px;
}
#footer table {
	border-color: #B2BCC6;
	border-bottom-width: 1px;
	border-right-width: 0px;
	border-left-width: 0px;
	border-top-width: 0px;
	border-style: solid;
	margin: 0px 0px;
	padding: 0px;
	text-align: left;
}
#footer th {
	/*background-color: #B1C1C0;*/
	background-color: #C1C496;
	font: normal 12px Verdana, Arial, Tahoma, sans-serif;
	color: #2D5893;
	border-bottom-color: #7992B8;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	padding: 3px;
	text-align: left;
}
#footer th a:link, a:visited {
	/* OrderBy Link's */
	background-color: transparent;
	color: #2D5893;
	border-bottom: 1px dotted #2D5893;
	text-decoration: none;
}
#footer th a:hover {
	color: #778899;
}
#footers table {
	border-color: #B2BCC6;
	border-top-width: 0px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-style: solid;
	margin: 0px 0px;
	padding: 0px;
	text-align: left;
}
#footers td {
	/*  */
	border-bottom: 1px solid #B2BCC6;
	font: normal 12px Verdana, Arial, Helvetica, sans-serif !important;
	text-align: left;;
	padding-top: 3px;
	padding-right: 0px;
	padding-bottom: 3px;
	padding-left: 3px;
}
#footers td a:link, a:visited {
	/* OrderBy Link's */
	background-color: transparent;
	color: #2D5893;
	border-bottom: 1px dotted #2D5893;
	text-decoration: none;
}
#footers td a:hover {
	color: #778899;
}
#pageFooter {
	border-top : 1px dotted #AAAAAA;
	background-image: url("../bilder/footer.jpg"); 
	background-color: #7D9796;
	color: #626262;
	height: 12em;
	width: 100%;;
	border-top: 1px dotted #AAAAAA;
}
#meta-wrap {
	text-align: left;
	margin: 0 auto;
	padding: 20px 0 0 410px;
	width: 350px;
}
#vcard {
	float: right;
	clear: both;
	width: 100px;
	margin: 10px 0;
}
button {
	display: inline; /* über ganze breite */
	font: 0.8em Arial, Tahoma, Verdana, sans-serif;
	height: 2.2em;
	text-align: center;
	text-transform: uppercase;
	padding-left: 3px;
	padding-right: 3px;
	vertical-align: middle;
}