@CHARSET "ISO-8859-1" ;

@IMPORT url("Master.css");

@IMPORT url("selinas-SiteTyp7.css");

#pageHeader {
	border-bottom: 1px dotted #B2BCC6;
	background-color: #FFFFFF;
	border-top: 1px solid #778899;
	height: 3em
}

#pageHeader .strapline {
	color: #778899;
	background: transparent;
	float: right; /* Elemente umfließen lassen */
	margin-right: 2em; /* transparenten Abstand von rechts */
	margin-top: 0.5em /* transparenten Abstand von oben */;
	font-family: Georgia, "Times New Roman";
	font-size: 110%;
}

#pageHeader .logo {
	float: left; /* Elemente umfließen lassen */
	margin-left: 1.5em; /* transparenten Abstand von links*/
	margin-top: 0.5em; /* transparenten Abstand von oben */
	border: 1px dotted #B2BCC6; /*Rahmen wie Link's */
	background-color: #006666 /*Hintergrund Farbe Selinas Grün*/
}

#header {
	color: #778899;
	background: transparent;
	margin: 0px;
	padding: 0px;
}

#content table {
	caption-side: bottom;
	width: 100%;
	text-align: left;
	margin: 5px 0;
	background: #eee;
	padding: 5px;
	border: 1px solid #B2BCC6;
}

#content caption {
	text-align: right;
	text-transform: uppercase;
	font-weight: bold;
}

#content th {
	font-weight: bold;
}

#content td {
	border-bottom: 1px solid #B2BCC6;
	padding: 3px;
}
#content iframe{
	border-bottom: 1px solid #B2BCC6;
	height: 100%
}
#footer {
	background-color: #FFFFFF;
}

#pageFooter {
	border-top: 1px dotted #AAAAAA;
	background-color: #CCCCCC;
	color: #626262;
	height: 3em;
	width: 100%;
}

a:link, a:visited {
	text-decoration: none;
	color: #2A4F6F;
	background-color: transparent;
	border-bottom: 1px dotted #B2BCC6
}

a:hover {
	color: #778899;
}