@CHARSET "ISO-8859-1" ;
@IMPORT url("Master.css");
body {
	padding: 1px 0px 1px 0px; 
	font: 1em/ 1.5em Verdana, Arial, Tahoma, sans-serif;
}
#pageHeader {
	background-image: url("../bilder/header.jpg");
	border-bottom: 1px dotted #B2BCC6;
	height: 8em;
}
#pageHeader .strapline {
	color: #778899;
	background: transparent;
	float: right; /* Elemente umfließen lassen */
	margin-right: 2em; /* transparenten Abstand von rechts */
	margin-top: 0.5em /* transparenten Abstand von oben */;
	font-family: Arial Unicode MS, Georgia, "Times New Roman";
	letter-spacing: 0.9px;
	line-height: 0.8em;
	font-size: large;
	font-variant: small-caps;
}
#pageHeader .logo {
	float: left; /* Elemente umfließen lassen */
	margin-left: 1.5em; /* transparenten Abstand von links*/
	margin-top: 0.5em; /* transparenten Abstand von oben */
	border: 1px #B2BCC6; /*Rahmen wie Link's */
	background-color: #234F4E /*Hintergrund Farbe Selinas Grün*/
}
#pageWrapper{
	border-color: #7992B8;
	border-top-width: 0px;
	border-right-width: 1px;
	border-bottom-width: 0px;
	border-left-width: 1px;
	border-style: solid;
	margin-right: 0.5%;
	margin-left: 0.5%;
	width: 99%;
	height: 100%;
}
#pageWrapper a:link, a:visited {
	/* OrderBy Link's */
	background-color: transparent;
	color: #2D5893;
	border-bottom: 1px dotted #2D5893;
	text-decoration: none;
}
#pageWrapper a:hover {
	color: #778899;
}
#navigation {
	background-color:#BBBBBB;
	margin-left: 3em;
	margin-top:	-1em;
	width:	11em;
}
#navigation ul {
	background-color:#D6D8BA;
	border:	1px solid #000000;
	bottom:	1em;
	font: 0.83em/ 1.8em Arial, Tahoma, Verdana, sans-serif;
	position: relative;
	right: 1em;
	padding: 5px;
}
#navigation li.current{
	color: black;
}
#header{
	padding-top: 10px;
	padding-left: 5px;
}
#header .selectbox{
	font: 1em/ 1.5em Verdana, Arial, Tahoma, sans-serif;
}
#wrapper{
	padding: 5px 0;
	margin-left: 3px;
	margin-right: 3px;
	width: 99.5%;
	height: 100%;
}
#wrappers{
	height: 100%
}
#wrapper table {
	border-color: #B2BCC6;
	border-bottom-width: 1px;
	border-right-width: 0px;
	border-left-width: 0px;
	border-top-width: 0px;
	border-style: solid;
	margin: 0px 0px;
	padding: 0px;
	text-align: left;
	table-layout: fixed;
	overflow: hidden;
}
#wrapper th {
	background-color: #C1C496;
	/*background-color: #D0D0A2;*/
	color: #2D5893;
	font: 1em/ 1.5em Verdana, Arial, Tahoma, sans-serif;
	border-bottom-color: #7992B8;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	padding: 3px;
	text-align: left;
}
#wrapper iframe{
	height: 30em;
}
#wrappers table {
	border-color: #B2BCC6;
	border-top-width: 0px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-style: solid;
	margin: 0px 0px;
	padding: 0px;
	text-align: left;
	table-layout: fixed;
}
#wrappers td {
	border-bottom: 1px solid #B2BCC6;
	text-align: left;;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 25px;
	overflow: hidden;
}
#wrappers td a:link, a:visited {
	/* Link's of Table */
	background-color: transparent;
	color: #2D5893;
	border-bottom: 1px dotted #2D5893;
	text-decoration: none;
}
#wrappers td a:hover {
	color: #778899;
}
#pageFooter {
	background-color: #7D9796;
	border-top: 1px dotted #AAAAAA;
	background-image: url("../bilder/footer.jpg"); 
	color: #626262;
	clear: both;
	height: 12em;
	padding: 2px 0;
	text-align: left;
	width: 100%;
}
#pageFooter p {
	font: 0.83em/ 1.8em Arial, Tahoma, Verdana, sans-serif;
	margin:	0 3em;
}

#meta-wrap {
	text-align: left;
	margin: 0 auto;
	padding: 20px 0 0 410px;
	width: 350px;
}
#vcard {
	float: right;
	clear: both;
	width: 100px;
	margin: 10px 0;
}
img.admin1{
	/* Navigation-Links */
	background: url(../bilder/dalie-icons-pack.gif) -30px -218px no-repeat;
	height: 23px;
	width: 10px;
}
img.admin3{
	/* Navigation-Rechts */
	background: url(../bilder/dalie-icons-pack.gif) -40px -218px no-repeat;
	height: 23px;
	width: 23px;
}
button {
	display: inline; /* über ganze breite */
	font: 0.8em Arial, Tahoma, Verdana, sans-serif;
	height: 2.2em;
	text-align: center;
	text-transform: uppercase;
	padding-left: 0px;
	padding-right: 0px;
	marign: 0px;
	vertical-align: middle;
}