@CHARSET "ISO-8859-1" ;

@IMPORT url("Master.css");
@IMPORT url("selinas-SiteTyp10.css");

#pageHeader {
	background-image: url("../bilder/header.jpg");
	border-bottom: 1px dotted #B2BCC6;
	background-color: #FFFFFF;
	height: 8em;
}
#pageHeader .strapline {
	color: #778899;
	background: transparent;
	float: right; /* Elemente umfließen lassen */
	margin-right: 2em; /* transparenten Abstand von rechts */
	margin-top: 0.5em /* transparenten Abstand von oben */;
	font-family: Arial Unicode MS, Georgia, "Times New Roman";
	letter-spacing: 0.9px;
	line-height: 0.8em;
	font-size: large;
	font-variant: small-caps;
}
#pageHeader .logo {
	float: left; /* Elemente umfließen lassen */
	margin-left: 1.5em; /* transparenten Abstand von links*/
	margin-top: 0.5em; /* transparenten Abstand von oben */
	border: 1px #B2BCC6; /*Rahmen wie Link's */
	background-color: #234F4E /*Hintergrund Farbe Selinas Grün*/
}
#pageWrapper{
	background-color: #EEE;
	width: 99%;
	margin-right: 0.5%;
	margin-left: 0.5%;
	border-color: #7992B8;
	border-style: solid;;
	border-top-width: 0px;
	border-right-width: 1px;
	border-left-width: 1px;
	border-bottom-width: 0px
}
#dokumentHeader{
	background-color: #EEE;
	text-align: left;
	margin-top: -1px;
	padding-left: 10px;
}
#dokumentHeader form{
	font: 1em/ 1.5em Verdana, Arial, Tahoma, sans-serif;
	background: #eee;
	padding: 5px;;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-right: 0;
	margin-left: 0
}
#dokumentHeader .selectbox{
	font: 1em/ 1.5em Verdana, Arial, Tahoma, sans-serif;
}
#navigation {
	background-image: url("../bilder/columnheadbg.gif"); 
	border-color: #EEE/*#7992B8*/;
	border-style: solid;
	margin-top: 0.8em;
	padding-right: 0.5em;;
	border-top-width: 1px;
	border-right-width: 0px;
	border-left-width: 0px;
	border-bottom-width: 1px;
	overflow: visible;
}
#navigation ul{
	list-style: none;
}
#navigation li{
	border-color: #7992B8;
	border-bottom-width: 1.5px;
	border-left-width: 1px;
	border-right-width: 1px;
	border-style: solid;
	border-top-width: 1.5px;
	font: normal 12px Verdana, Arial, Helvetica, sans-serif !important;
	float: left;
	margin: 1px;
	padding-left: 18px;
	padding-right: 18px;
	width: auto;
}
#navigation li a{
	text-decoration: none;
}
#navigation li.current{
	padding-bottom: 0px;
	background-color: #EEE;;
	border-right-color: #7992B8;
	border-bottom-color: white;
	border-top-width: 1px;
	border-top-color: #7992B8;
	border-right-width: 1px;
	border-left-width: 1px;
	border-left-color: #7992B8;
	border-bottom-width: 2px
	
}
#navigation li.current a:link, a:visited{
	font: normal 12px Verdana, Arial, Helvetica, sans-serif !important;
	color: #2D5893;
	text-decoration: none;
}
#wrapper{
	background-color: #EEEEEE;
	width: 99.5%;
}
#wrapper table {
	/*caption-side: bottom;*/
	background: #eee;
	padding: 5px;
	text-align: left;
	width: 99.8%;;
	border-style: solid;
	border-top-width: 1px;
	border-right-width: 1px;
	border-left-width: 1px;
	border-color: #B2BCC6;
	border-bottom-width: 0px;
}
#wrapper th {
	background-image: url("../bilder/columnheadbg.gif");
	background-color: #EEE;
	border-bottom: 1px solid #B2BCC6;
	font: 1em/ 1.5em Verdana, Arial, Tahoma, sans-serif;
	font-weight: bold;
	color: #2D5893;
}
#wrappers td {
	border-top: 1px solid #B2BCC6;
	padding: 3px 5px;
	text-align: left;;
	font: normal 12px Verdana, Arial, Helvetica, sans-serif !important;
}
#wrapper iframe{
	background-color: #EEEEEE;
	border-left: 1px solid #B2BCC6;
	border-right: 0.5px solid #B2BCC6;
	border-bottom: 1px solid #B2BCC6;
	width: 99.5%;
}
#footer{
	background-color: #EEE;
}
#pageFooter {
	border-top : 1px dotted #AAAAAA;
	background-image: url("../bilder/footer.jpg"); 
	background-color: #7D9796;
	color: #626262;
	height: 12em;
	width: 100%;;
	border-top: 1px dotted #AAAAAA;
}
#meta-wrap {
	text-align: left;
	margin: 0 auto;
	padding: 20px 0 0 410px;
	width: 350px;
}
#vcard {
	float: right;
	clear: both;
	width: 100px;
	margin: 10px 0;
}

a:link, a:visited {
	text-decoration: none;
	color: black;
	background-color: transparent;
}
a:hover {
	color: #778899;
}

a:link.link, a:visited.link {
	text-decoration: none;
	color: #2A4F6F;
	background-color: transparent;
	border-bottom: 1px dotted #B2BCC6
}

a:hover.link {
	color: #778899;
}
button {
	display: block; /* über ganze breite */
	font: 0.8em Arial, Tahoma, Verdana, sans-serif;
	height: 2.0em;
	text-align: center;
	text-transform: uppercase;
	width: auto;
}