@CHARSET"ISO-8859-1";

@IMPORT url("Master.css");
@IMPORT url("selinas-SiteTyp10.css");

.fontNormal {
	color: #000;
	font: normal 11px Verdana, Arial, Helvetica, sans-serif !important;
}
.fontBlackBold {
	font-family: Verdana;
	font-weight: bold;
	font-size: 10px;
	color: #000;
}
.fontBlack {
	color: #000 !important;
	font-weight: normal;
	font-size: 10px;
	padding-left: 5px;
	font-family: Verdana;
}
.fontMediumBold {
	font: bold 12px Verdana, Arial, Helvetica, sans-serif;
	color: #2D5893;
}
.subheading {
	border-bottom: 1px solid;
	padding-left: 3px;;
	border-color: #7F9DB9
}
.requestBox {
	/*background-color: #FFFFF4;
	border-color: #EAEAD4 #C3C39B #C3C39B #EAEAD4;
	border-style: solid;
	border-width: 3px;*/
	border-style: solid;
	border-width: 1px;
	border-color: #9AB5D4;
	margin-left: 0px;

	padding-top: 0px;
	padding-bottom: 2px;
	padding-left: 0px;
	text-align: left;
}
.requestBox #topbg {
	/*background-color: #D4D4AC;
	border-bottom: 1px solid #999;
	padding: 4px;*/
	/*background-color: #EEEEEE;*/

	background-image: url("../bilder/columnheadbg.gif");
	background-color: #DEDEDE;
	border-bottom: 1px solid #B2BCC6;
	font: 1em/ 1.5em Verdana, Arial, Tahoma, sans-serif;
	font-weight: bold;
	color: #2D5893;	

	border-style: solid;
	border-top-width: 0px;
	border-right-width: 1px;
	border-left-width: 0px;
	border-color: #557AA6;
	border-bottom-width: 1px;
}
.requestBox #bottombg {
	background-color: #DEDEDE;
	border-style: solid;
	border-top-width: 0px;
	border-right-width: 0px;
	border-left-width: 0px;
	border-color: #557AA6;
	border-bottom-width: 0px;
}
img.requests {
	background: url(../bilder/dalie-icons-pack.gif) -382px -48px no-repeat;
	height: 22px;
	width: 21px;
}
#content table {
	/*caption-side: bottom;*/
	width: 100%;
	text-align: left;
	margin: 0px 0;
	background: #eee;
	padding: 5px;
	border: 1px solid #B2BCC6;
}

#content caption {
	text-align: right;
	text-transform: uppercase;
	font-weight: bold;
}

#content th {
	background-image: url("../bilder/columnheadbg.gif");
	background-color: #DEDEDE;
	border-bottom: 1px solid #B2BCC6;
	font: 1em/ 1.5em Verdana, Arial, Tahoma, sans-serif;
	font-weight: bold;
	color: #2D5893;
}

#contents td {
	border-top: 1px solid #B2BCC6;
	color: #666;
	font: normal 12px Verdana, Arial, Helvetica, sans-serif !important;
	padding: 3px 5px;
	text-align: left;
}
#contents td a:link, a:visited {
	text-decoration: none;
	color: black;
	background-color: transparent;
}

#contents a:hover {
	color: #778899;
}
#content iframe{
	background-color: #EEEEEE;
	border-left: 1px solid #B2BCC6;
	border-right: 0.5px solid #B2BCC6;
	border-bottom: 1px solid #B2BCC6;
	/*height: 100%;*/
	width: 99.5%;
}
#content form{
	font: 1em/ 1.5em Verdana, Arial, Tahoma, sans-serif;
	background: #eee;
	padding: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-right: 0;
	margin-left: 0
}
#pageHeader {
	background-image: url("../bilder/header.jpg");
	border-bottom: 1px dotted #B2BCC6;
	background-color: #FFFFFF;
	height: 8em;
}
#pageHeader .strapline {
	color: #778899;
	background: transparent;
	float: right; /* Elemente umfließen lassen */
	margin-right: 2em; /* transparenten Abstand von rechts */
	margin-top: 0.5em /* transparenten Abstand von oben */;
	font-family: Arial Unicode MS, Georgia, "Times New Roman";
	letter-spacing: 0.9px;
	line-height: 0.8em;
	font-size: large;
	font-variant: small-caps;
}
#pageHeader .logo {
	float: left; /* Elemente umfließen lassen */
	margin-left: 1.5em; /* transparenten Abstand von links*/
	margin-top: 0.5em; /* transparenten Abstand von oben */
	border: 1px #B2BCC6; /*Rahmen wie Link's */
	background-color: #234F4E /*Hintergrund Farbe Selinas Grün*/
}
#pageWrapper{
	background-color: #EEE;
	width: 99%;
	margin-right: 0.5%;
	margin-left: 0.5%;
	border-color: #7992B8;
	border-style: solid;
	border-top-width: 0px;
	border-right-width: 1px;
	border-left-width: 1px;
	border-bottom-width: 0px
}
#wrapper{
	background-color: #EEEEEE;
	width: 99.5%;
}
#navigation {
	background-image: url("../bilder/columnheadbg.gif"); 
	border-color: #7992B8;
	border-style: solid;
	margin-top: 0.8em;
	padding-right: 0.5em;;
	border-top-width: 1px;
	border-right-width: 0px;
	border-left-width: 0px;
	border-bottom-width: 1px;
	overflow: visible;
}
#navigation ul{
	list-style: none;
}
#navigation li{
	border-color: #7992B8;
	border-bottom-width: 1.5px;
	border-left-width: 1px;
	border-right-width: 1px;
	border-style: solid;
	border-top-width: 1.5px;
	font: normal 12px Verdana, Arial, Helvetica, sans-serif !important;
	float: left;
	margin: 1px;
	padding-left: 18px;
	padding-right: 18px;
	width: auto;
}
#navigation li a{
	text-decoration: none;
}
#navigation li.current{
	padding-bottom: 0px;
	background-color: #EEE;;
	border-right-color: #7992B8;
	border-bottom-color: white;
	border-top-width: 1px;
	border-top-color: #7992B8;
	border-right-width: 1px;
	border-left-width: 1px;
	border-left-color: #7992B8;
	border-bottom-width: 2px
	
}
#navigation li.current a:link, a:visited{
	font: normal 12px Verdana, Arial, Helvetica, sans-serif !important;
	color: #2D5893;
	text-decoration: none;
}
#dokumentHeader{
	background-color: #EEE;
	text-align: left;
	margin-top: -1px;
	padding-left: 10px;
}
#contentRight{
	background-color: #EEEEEE;
}
#footer{
	background-color: #EEE;
}
#footer table {
	/*caption-side: bottom;*/
	border: 1px solid #B2BCC6;
	background: #eee;
	margin: 0px 2px;
	padding: 5px;
	text-align: left;
	width: 99.5%;
}

#footer th {
	background-image: url("../bilder/columnheadbg.gif");
	background-color: #DEDEDE;
	border-bottom: 1px solid #B2BCC6;
	font: 1em/ 1.5em Verdana, Arial, Tahoma, sans-serif;
	font-weight: bold;
	color: #2D5893;
}

#footers td {
	border-top: 1px solid #B2BCC6;
	padding: 3px 5px;
	text-align: left;;
	font: normal 12px Verdana, Arial, Helvetica, sans-serif !important;
}
#footer td a:link, a:visited {
	text-decoration: none;
	color: black;
	background-color: transparent;
}

#footer a:hover {
	color: #778899;
}
#footer iframe{
	background-color: #EEEEEE;
	border-left: 1px solid #B2BCC6;
	border-right: 0.5px solid #B2BCC6;
	border-bottom: 1px solid #B2BCC6;
	height: 100%;
	width: 99.5%;
}
#pageFooter {
	border-top : 1px dotted #AAAAAA;
	background-image: url("../bilder/footer.jpg"); 
	background-color: #7D9796;
	color: #626262;
	height: 12em;
	width: 100%;;
	border-top: 1px dotted #AAAAAA;
}
#meta-wrap {
	text-align: left;
	margin: 0 auto;
	padding: 20px 0 0 410px;
	width: 350px;
}
#vcard {
	float: right;
	clear: both;
	width: 100px;
	margin: 10px 0;
}
a:link, a:visited {
	text-decoration: none;
	color: black;
	background-color: transparent;
}
a:hover {
	color: #778899;
}

a:link.link, a:visited.link {
	text-decoration: none;
	color: #2A4F6F;
	background-color: transparent;
	border-bottom: 1px dotted #B2BCC6
}
a:hover.link {
	color: #778899;
}
button {
	display: block; /* über ganze breite */
	font: 0.8em Arial, Tahoma, Verdana, sans-serif;
	height: 2.2em;
	text-align: center;
	text-transform: uppercase;
	padding-left: 3px;
	padding-right: 3px;
	vertical-align: middle;
}